body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
    color: #333;
    line-height: 1.6;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ADD8E6, #070000);
    border: 3px solid white;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 1px;
    color: white !important;
    text-shadow: 1px 1px 2px black, 0 0 25px #6c6c6e, 0 0 5px #f6f6f8;
}


.container {
    max-width: 1150px;
    padding: 20px;
}

.container h2 {
    margin-bottom: 20px;
    color: #800000;
    font-weight: bold;
}

#user-list .col {
    display: flex;
    flex-direction: column;
}

#user-list .card-deck {
    display: flex;
    flex-wrap: wrap;
}

#user-list .card {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#user-list .card-body {
    flex-grow: 1;
    text-align: center;
}

#user-list .remove-button {
    display: block;
    margin: 0 auto;
}

#user-form {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
}

#user-form .form-group {
    margin-bottom: 20px;
}

#user-form button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: block;
    margin: 0 auto ;
}

#user-form button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#user-form button:active {
    background-color: #004286;
    border-color: #004286;
}

.modal-content {
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    transform:  rotateX(10deg);
    margin: 1;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}


@media (max-width: 1200px) {
    .container h2 {
        font-size: 1.75rem;
    }
}

@media (max-width: 992px) {
    .container h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .container h2 {
        font-size: 1.25rem;
    }

    #user-form button {
        width: 100%;
    }
}

.modal-content {
    border: 1px solid #1a3b5e;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 1rem;
}

.modal-footer .btn-secondary {
    background-color: red;
    border-color: red;
}

.modal-footer .btn-secondary:hover {
    /* Add your hover styles here. For example: */
    background-color: darkred;
    border-color: darkred;
}